.search-container {
    display: flex;
    justify-content: center;
    margin-top: 60px; /* Adjust the margin as needed */
    
}

.search-bar {
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 30px; /* Rounded corners */
    padding: 10px 20px;
    width: 900px; /* Adjust the width as needed */
    height: 60px;
    font-size: 16px;
    outline: none;
}

.search-bar::placeholder {
    color: #999; /* Placeholder text color */
}

.search-button
{
    background-color: #303030;
    margin-left:10px;
    border:none;
    outline: none;
    height: 60px;
    width:60px;
    border-radius: 50%;
}